.cookie-banner {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    /* background-color: rgba(0, 0, 0, 0.7); */
    background-color: #333;
    color: white;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1000;
}

.cookie-text {
    margin: 0;
    font-size: 14px;
    line-height: 1.5;
    max-width: 70%;
}

.cookie-buttons {
    display: flex;
    gap: 10px;
}

.cookie-button {
    padding: 10px 20px;
    background-color: transparent;
    border: 1px solid white;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.cookie-button:hover {
    background-color: white;
    color: black;
}

.accept-button {
    background-color: blue;
    color: white;
}

.accept-button:hover {
    background-color: darkblue;
}

footer p {
    text-align: center;
}

/* General styling for the navigation buttons */
.nav-button-container {
    display: flex;
    justify-content: space-around; /* Distribute space evenly between buttons */
    padding: 10px;
    background-color: #f8b400; /* Background color for the navigation area */
    flex-wrap: nowrap;
}

.nav-button, .dropdown-btn {
    padding: 10px 20px;
    background-color: #f8b400;
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 1rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
    flex-shrink: 1;
    margin: 0 5px;
}

.nav-button:hover {
    color: black;
    background-color: #e89c00;
}